extends ./Partials/layout

block content
  .container
    .article
      .title
        h1 經營理念
      .content.dark-primary
        ul
          li.h6 頂豐實事求是，堅持健康、美味的湯頭，不偷工減料，標準的制式流程，不斷提升專業品質，給消費者乾淨、潔淨與舒適的用餐環境為宗旨。
          li.h6 鍋物、銅盤料多實在、美味、份量足，多種特色鍋物嚐過都說讚！各有眾多愛好者。
          li.h6 舒適、乾淨的用餐環境，衛生保證與服務親切是我們的基本要求，讓所有用餐的客人皆能感受到價廉味美，物超所值。
      a(href="/menu.html").btn 觀看菜單