extends ./Partials/layout

block content
  .container
    .article
      .title
        h1 加盟頂豐
      .content
        h5 加入頂豐團隊絕對是你最大的助力，是你創業的最佳伙伴，輕鬆完成您開店的願望。
        img(src="~assets/加盟頂豐專業火鍋團隊.jpg", alt="加盟頂豐專業火鍋團隊")
        .h-bar
        h5 加入頂豐流程：
        ul
          li 與總公司人員訪談
          li 市場評估
          li 簽訂契約
          li 訂購設備與店內裝潢
          li 安排教育訓練
          li 進貨、進設備
          li 現場模擬
          li 作業流程實戰（試賣）
          li 開幕宣傳、促銷，開始營運
        h4.light-primary 合作年限為三年，續約不另收費！
        .h-bar
        h5 加入頂豐需要：
        ul
          li 強烈企圖心與責任感
          li 店內空間 25 坪以上（越大越有優勢）
          li 成立行號（申請統編免用發票）
          li 開店準備金
        table
            tr
              th A 型
              td 30 坪
              td 約 140 萬
            tr
              th.dark B 型
              td.dark 50 坪
              td.dark 約 160 萬
            tr
              th C 型
              td 80坪
              td 約 180萬
        .h-bar
        h5 加盟優勢與利基：
        ul
          li 湯頭味美，不口渴，不怕比較。
          li 食材料多、新鮮才敢給客人煮（不同於一般臭臭鍋店，鍋淺料少且煮好才上鍋）
          li 乾淨、舒適的座位與環境，親切熱忱的服務，其他業者沒得比！
          li 標準S.O.P作業，簡單教學，只要4~6天，反覆練習即會。
          li 前置作業、出餐作業、收銀作業、會計作業與營業報表…整套傳授，沒做過生意沒經驗者也能迅速上手。
          li 銅盤與火鍋不油不膩，一年四季皆可販售。
          li 專屬商圈範圍，保障營業區域。務讓每一分店都能穩定獲利至為最重要。
          li 整套營運方法，開店穩定後即使老闆沒上班，員工照樣如常營業，不受影響。



