extends ./Partials/layout

block content
  include ./Partials/banner
  .container
    .row
      .col.box-h285.col-lg-3.col-md-6.col-sm-12
        .row
          i.like
          h3.col.light-primary 環境優質
        p 頂級鍋爐+舒適空調，坐在柔軟的座椅上輕鬆享用。頂豐烹飪團隊，美味可口，衛生保證，讓你有歡愉的心情！還不即刻前往。
        a(href="/menu.html").btn.btn-bottom 觀看菜單
      .col.box-h285.col-lg-3.col-md-6.col-sm-12
        .row
          i.pots
          h3.col.light-primary 份量不小
        p 平民美食新霸主，一人一鍋大飽口福。湯頭精心熬煮，搭配美味鍋底只要百元起！
        a(href="/menu.html").btn.btn-bottom 觀看菜單

      .col.box-h285.col-lg-3.col-md-6.col-sm-12
        .row
          i.food
          h3.col.light-primary 一店兩吃
        p 除了小火鍋外，上等銅盤烤肉，牛、豬、羊任選兩樣。外加雙葉冰淇淋吃到飽，絕對滿足大食客的胃！
        a(href="/menu.html").btn.btn-bottom 觀看菜單
      .col.box-h285.col-lg-3.col-md-6.col-sm-12
        .row
          i.scooter
          h3.col.light-primary 外送服務
        p 滿五鍋可外送，外送20鍋九折優惠！快來看看菜單
        a(href="/menu.html").btn.btn-bottom 觀看菜單




