#banner
  #slider
    img(src='~assets/slider-people.jpg', alt="頂豐的客戶不亦樂乎")
    img(src='~assets/slider-equipments.jpg', alt="頂豐專業高級烤爐")
    img(src='~assets/slider-pots.jpg', alt="頂豐CP值破表的小火鍋")
    img(src='~assets/slider-bbq.jpg', alt="頂豐超棒的銅盤烤肉")
    img(src='~assets/slider-waiters.jpg', alt="頂豐優秀的服務員")
  #banner-title.container.ta-c
    h1 小火鍋，選頂豐
    .h-bar
    h6 平價小火鍋的不二選擇

