#footer
  .row
    .col
      h6.ta-l 汐止大同店
      ul
        li 地址：新北市汐止區大同路二段302號
        li 電話：02-2647-0962
    .col
      h6.ta-l 汐止汐科店
      ul
        li 地址：新北市汐止區連興街52號1樓
        li 電話：02-2648-0222
    .container
      .h-bar.bg-dark
  span.copyright 頂豐小火鍋、銅盤烤肉 2016 #[i.copyright ©copyright reserved]