#navbar
  .container
    #nav-icon
      p 選單
      #nav-icon-bar
        span
        span
        span
        span
    ul.menu
      li: a.h6(href="/") 首頁
      li: a.h6(href="/about.html") 經營理念
      li: a.h6(href="/menu.html") 餐點介紹
      li: a.h6(href="/affiliate.html") 加盟頂豐
      li: a.h6(href="/contact.html") 聯絡我們